/* style with grid layout. I created 20 row and 20 column grids on the 
body section to define the layout of the page */

@font-face {
    font-family: starJedi;
    src: url(../fonts/Starjedi.ttf);
}

body {
    min-height: 600px;
    font-family: starJedi;
    box-sizing: border-box;
    background-image: url(../images/star_wars_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    padding: 20px;
    /* height: 50px; */
    font-family: starJedi;
    font-size: 3em;
}

h5 {
    font-size: 0.9em;
    padding: 0.1em;
}

h6 {
    font-size: 0.6em;
    padding: 0.1em;
}

.battlefield {
    position: relative;
    min-height: 600px;
}

.instructions {
    width: 40%;
    min-height: 300px;
    background-color: black;
    color: white;
    opacity: 0.7;
    margin: 1em;
    border: 2px solid rgb(65, 31, 31);
    border-radius: 30px;
}

.instructions > h3 {
    font-size: 2em;
    padding: 1em;
    text-align: center;
}

.instructions > p {
    font-size: 1em;
    padding: 1em;
    text-align: justify;
}

div.character {
    opacity: 0.7;
}

.character {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border: 2px solid rgb(65, 31, 31);
    width: 10%;
    min-width: 80px;
    position: absolute;
    border-radius: 15px 15px 75px 75px;
}

.attacker {
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 1em;
    color: red;
}

.defender {
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 1em;
    color: green;
}


.character-name {
    text-align: center;
}

.character-avatar {
    width: 90%;
    min-width: 70px;
    margin: 0.25em auto;
}

.character-health {
    text-align: center;
    padding: 0 1em 1em 1em;
}

.character-attack-points {
    text-align: center;
    padding: 0 1em 3em 1em;
}

.han {
    top: 5%;
    left: 49%;
}

.luke {
    top: 5%;
    left: 61%;
}

.jar-jar {
    top: 5%;
    left: 73%;
}

.vader {
    top: 5%;
    left: 85%;
}

.attack-button {
    display: none;
    position: absolute;
    width: 15%;
    top: 58%;
    left: 67.5%;
}

.button {
    width: 100%;
    background-color: black;
    opacity: 0.7;
    font-family: starJedi;
    font-size: 1.5em;
    color: white;
    padding: 0.5em 0;
    margin: 0.5em 0;
    border: 2px solid rgb(73, 36, 36);
    border-radius: 0.5em;
}

.button:hover {
    opacity: 1;
}

.laser-one {
    display: none;
    position: absolute;
    height: 3px;
    width: 50px;
    transform: rotate(-40deg);
    background-color: #18f703;
    top: 45%;
    left: 72%;
}

.laser-two {
    display: none;
    position: absolute;
    height: 3px;
    width: 50px;
    transform: rotate(40deg);
    background-color: #18f703;
    top: 45%;
    left: 72%;
}

.attack-droid > img {
    position: absolute;
    top: 38%;
    left: 110%;
    width: 70px;
}

.explosion > img {
    display: none;
    position: absolute;
    width: 30px;
}

.game-over {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: starJedi;
    font-size: 5em;
    text-align: center;
}